{% extends 'base.html' %}

{% block content %}

<main class="container mt-3">
    <div class="text-white">
        <section class="jumbotron text-center mt-4"
                 style="background: url('https://c.pxhere.com/photos/fc/09/sea_background_water_surface_texture_wave_blue_nature-1370272.jpg!d'); background-position: center center">
            <h1 class="display-4 font-weight-bold">{{ title }}</h1>
            <p class="lead font-weight-light">{{ subtitle }}</p>
            <p class="mt-5 w-50 mx-auto font-weight-light">{{ description }}</p>
        </section>
    </div>
    <div class="row mt-5">
        <div class="card-group">
            {% for tour_id, tour in tours.items %}
            <div class="col-6 card-group">
                <div class="card mb-4 border-info">
                    <div class="embed-responsive embed-responsive-16by9">
                        <img class="card-img-top embed-responsive-item" src="{{ tour.picture }}" alt=""/>
                    </div>
                    <div class="card-body">
                        <h2 class="h5 card-title">{{ tour.title }}</h2>
                        <p class="card-text">{{ tour.description }}</p>
                        <a href="{% url 'tour' tour_id %}" class="btn btn-sm btn-primary">Подробнее</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</main>

{% endblock %}